img {
  width: 100%;
  border-radius: 10px;
}

.hero-images {
  position: relative;
  width: 95%;
}

.hero-title {
  position: absolute;
  top: 20%;
  background-color: rgba(0,0,0,.6);
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
}

.hero-title-text {
  opacity: 1;
  color: rgba(255,255,255,1);
  font-size: 5em;
  letter-spacing: 2px;
  transform:scale(1,1.2);
  -webkit-transform:scale(1,1.2);
  display:inline-block;
}
