<div class="center">
  <div class="rsvp">
    <div class="rsvp-text">
      <p class="text-one"><u>RSVP</u></p>
        <form class="text-three">
          <div class="form-group">
            <label for="rsvpName"><u>Please Enter Your Name</u></label>
            <input #rsvpName id="rsvpName" type="text" class="form-width form-control" required>
          </div>
          <!-- <div class="row">
            <div class="col-md-6 radios">
                <label for="rsvpAttend"><u>Can You Attend?</u></label>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="rsvp" value="yes" checked>
                    Yes, I will be attending your wedding!
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="rsvp" value="no">
                    No, unfortunately I can't make it.
                  </label>
                </div>
            </div>
            <div class="col-md-6 radios">
              <label for=""><u>Are You Brining a Guest?</u></label>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="guest" value="yes">
                  Yep
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="guest" value="no" checked>
                  Nope
                </label>
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <label for="rsvpAnythingElse"><u>Anything Else?</u></label>
            <textarea #rsvpAnythingElse id="rsvpAnythingElse" type="text" rows="4" class="form-width form-control"></textarea>
          </div>
          <br>
          <button class="btn btn-lg" type="submit" name="button" (click)="submitForm(rsvpName.value,rsvpAnythingElse.value)">Submit!</button>
        </form>
        <br><br><br>

        <p class="text-two"><u>Guests So Far</u></p>
        <div *ngFor="let guest of guests | async">
          <h2>{{guest.rsvpName}}</h2>
          <h3>{{guest.rsvpAnythingElse}}</h3>
        </div>

    </div>
  </div>
</div>
