<div class="center">
  <div class="rsvp">
    <div class="rsvp-text">
      <p class="text-two">Please RSVP for Every Adult Member of Your Party</p>
      <br><br>
        <form class="text-three" action="index.html" method="post">
          <div class="form-group">
            <label for="name"><u>Please Enter Your Name</u></label>
            <input id="name" type="text" class="form-width form-control">
          </div>
          <br>
          <div class="radios">
            <label for=""><u>Can You Attend?</u></label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="rsvp" value="yes" checked>
                Yes, I will be attending your wedding!
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="rsvp" value="no">
                No, unfortunately I can't make it.
              </label>
            </div>
          </div>
          <br><br>
          <button class="btn btn-lg" type="submit" name="button">Submit!</button>
        </form>
    </div>
  </div>
</div>
