<nav class="navbar navbar-fixed-top center" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/wedding-details">Wedding Details</a></li>
        <li><a href="/registry">Registry</a></li>
        <li><a href="/travel">Travel</a></li>
        <li><a href="/portland">Portland</a></li>
        <!-- <li><a href="/admin">Attending</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="guestName">
          <li><a href="/profile">Hey {{guestName}}!</a></li>
          <li (click)="logOff()"><a href="/logoff"><span class="logoff">Logout</span></a></li>
        </div>
        <div *ngIf="!guestName">
          <li><a href="/rsvp">RSVP</a> <a href="/signin"> - Sign In</a></li>
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
