nav {
  background-color: rgba(2,118,253,.3);
  border-bottom: 5px solid rgb(253,137,2);
  padding: 10px;
  margin-bottom: 4%;
  box-shadow: 5px 5px 8px;
  text-shadow: 1px 1px 1px black;
}

.nav.navbar-nav li a {
  color: white;
  font-size: 2.5em;
}

.nav.navbar-nav li a:hover {
  text-decoration: none;
}

.nav.navbar-nav li a .logoff{
  font-size: 1em;
}
