  <div class="travel">
    <div class="travel-text">
      <p class="text-two"><u>Plane</u></p>
      <p class="text-three">Did you know that Portland International Airport has been voted best airport in America FOUR TIMES in a ROW?? It's true! Even the carpet has a <a href="https://www.instagram.com/explore/tags/pdxcarpet/?hl=en">social media</a> presence. Unless you live in the Pacific Northwest, this is probably how you're getting here and I'm sure you don't need our advice when it comes to air travel. That being said, we prefer <a href="https://www.southwest.com/">Southwest</a> and <a href="https://www.alaskaair.com/">Alaska</a>. Portland is still (geographically) a small city and getting from the airport to where you need to go is a piece of cake. If you're staying downtown or in the Lloyd district, we recommend taking the MAX. You can check the schedules <a href="https://trimet.org/">here</a>. Otherwise, take a taxi...or send Samantha a text, she might be able to pick you up. It's not like we're busy or anything.</p>
      <p class="text-two"><u>Train</u></p>
      <p class="text-three">If you have the time and the money, train travel is the way. to. go. There's an <a href="https://www.amtrak.com/servlet/ContentServer?pagename=am/am2Station/Station_Page&code=PDX">Amtrak</a> station in the heart of Northwest Portland.</p>
      <p class="text-two"><u>Automobile</u></p>
      <p class="text-three">If you're driving from north or south of us, you'll be coming in on I-5. The highway exits are supremely annoying so just pay attention and do what Google Maps tells you to do and you'll be fine. If you're coming from the east, chances are you'll be driving on I84. The Hollywood exit is pretty central and a decent place to get off if you're not sure where else to exit.</p>
      <p class="text-two"><u>Accomadations</u></p>
      <p class="text-three">I think the best way to experience this city is to find an AirBNB in a close in, Southeast or Northeast neighborhood. If a hotel is more your speed, the <a href="http://doubletree3.hilton.com/en/hotels/oregon/doubletree-by-hilton-hotel-portland-RLLC-DT/index.html">Doubletree Lloyd</a> is centrally located and on a MAX line. You're backyard will be a shopping mall, which is pretty lame but it'll be easy to get around. The <a href="http://www.cpportland.com/">Crowne Plaza</a> is decent as well.</p>
      <br><br>
      <p class="text-two"><u>Travel Resources</u></p>
      <p class="text-three">
        <a href="https://trimet.org/">Trimet</a>
        //
        <a href="https://www.kayak.com/flight-routes/United-States-US0/Portland-PDX">PDX Airport</a>
        //
        <a href="https://www.amtrak.com/servlet/ContentServer?pagename=am/am2Station/Station_Page&code=PDX">Amtrak</a>
        //
        <a href="http://doubletree3.hilton.com/en/hotels/oregon/doubletree-by-hilton-hotel-portland-RLLC-DT/index.html">Doubletree Lloyd Hotel</a>
        //
        <a href="http://www.cpportland.com/">Crowne Plaza Hotel</a>
      </p>
    </div>
  </div>
