<div class="center">
  <div class="portland">
    <div class="portland-text">
      <p class="text-one"><u>Portland is a lovely place</u></p>

      <br><br>

      <p class="text-two">There are a TON of bars, restaurants, music venues, parks and trails and they're all filled with great beer, dogs and a touch of passive aggression. In case you find yourself with a some spare time, here are a few of our favorite ways to spend money:</p>

      <br><br>

      <p class="text-two"><u>Restaurants</u></p>
      <p class="text-three">Bye & Bye or Sweet Hereafter <span class="small-text">(All Vegan Bars with Fantastic Food)</span></p>
      <p class="text-three">Roscio's <span class="small-text">(San Diego Style Mexican)</span></p>
      <p class="text-three">Laurelhurst Market <span class="small-text">(Butcher Shop/Restaurant)</span></p>
      <p class="text-three">Tarad <span class="small-text">(Authentic Northern Thai Food)</span></p>
      <p class="text-three">Lúc Lác <span class="small-text">(Vietnamese Fusion)</span></p>
      <p class="text-three">Güero <span class="small-text">(Tortas!)</span></p>
      <p class="text-three">Dar Salam <span class="small-text">(Excellent Iraqi Restaurant)</span></p>
      <p class="text-three">East Glisan Pizza <span class="small-text">(The Best Pizza in Town)</span></p>
      <br><br>
      <p class="text-two"><u>Bars</u></p>
      <p class="text-three">Moon & Sixpence</p>
      <p class="text-three">Ground Control</p>
      <p class="text-three">Secret Society</p>
      <p class="text-three">Hale Pele</p>
      <p class="text-three">Sandy Hut</p>
      <br><br>
      <p class="text-two"><u>Venues</u></p>
      <p class="text-three">Mississippi Studios</p>
      <p class="text-three">The Know</p>
      <p class="text-three">Holocene</p>
      <br><br>
      <p class="text-two"><u>Parks</u></p>
      <p class="text-three">Forest Park</p>

    </div>
  </div>
</div>
