<br>
<br>
<br>
<br>
<br>
<br>
<div class="center">
  <div class="profile">
    <div class="profile-text text-one">
      <p>Hey {{rsvpName}}!</p>
    </div>
    <div class="text-two">
      <p>Here's your info:</p>

    </div>
      <div class="row">
        <div class="col-md-3 text-three">
          <p>Registered Email</p>
          <p>Attending?</p>
          <p>Brining a Guest?</p>
          <p>Message to the Happy Couple:</p>
        </div>
        <div class="col-md-9 text-three">
          <p>{{rsvpEmail}}</p>
          <p>{{rsvpAttend}}</p>
          <p>{{rsvpBringGuest}}</p>
          <p>{{rsvpAnythingElse}}</p>
        </div>
      </div>
  </div>
</div>
