/* You can add global styles to this file, and also import other style files */

app-root {
  font-family: 'Abril Fatface', cursive;
}

.center {
  display: flex;
  align-items:center;
  justify-content: center;
}

.text-one {
  font-size: 4.2em;
}

.text-two {
  font-size: 2.5em;
}

.text-three {
  font-size: 2em;

}
